<template lang="pug">
  section.chat-box
    .chat-bot-header
      img.logo(src='@/assets/lightbulb.svg')
    ChatBody
    ChatInput
</template>

<script>
import ChatBody from "@/components/ChatBody.vue";
import ChatInput from "@/components/ChatInput.vue";
import axios from "axios";

export default {
  name: "Chatbox",
  components: {
    ChatBody,
    ChatInput,
  },
  data: () => ({
    url_base: "http://localhost:8080/api/v1/chatbot/",
    url: "http://localhost:8081/api/v1/chatbot/",
    bulbType: "",
  }),
  methods: {
    getReq(type, keyword) {
      axios
        .get(
          `http://localhost:8081/api/v1/chatbot/?type=${type}&keyword=${keyword}`
        )
        .then((response) => {
          let buttons = [];
          response.data.forEach(function (data) {
            let array = Object.values(data);
            buttons.push(array[0]);
          });
          this.$store.dispatch("pushMessage", {
            buttons: buttons,
            author: "server",
          });
        })
        .catch((error) => {
          console.log("This Is An", error);
        });
    },
    getBulb() {
      axios
        .get("http://localhost:8081/api/v1/chatbot/id?id=1")
        .then((response) => {
          console.log("r", response.data);
          let text = `<p>Here you can buy this bulb: <a href=${response.data}>Amazon</a></p><p>Have a nice day!<p></p>`;
          this.$store.dispatch("pushMessage", {
            text: text,
            author: "server",
          });
        })
        .catch((error) => {
          console.log("This Is An", error);
        });
    },
  },
};
</script>

<style scoped>
.chat-box {
  margin: 10px;
  width: 40vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  position: relative;
}

.chat-bot-header {
  height: 71px;
  background: #9bcb54;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.logo {
  height: 284px;
  top: -98px;
  position: absolute;
  z-index: 100;
}
</style>
