<template lang="pug">
  .list-container(ref='chatbox')
    ul.messages-list
      li.message(
        v-for='(message, idx) in messages' :key='idx' :class='message.author')
        p(v-html='message.text')
        .buttons(v-if='message.buttons')
          button.choose-btn(
            v-for='button in message.buttons' :key='button' 
            @click='chooseAnswer(button)')
            | {{ button }}
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ChatBody",
  methods: {
    chooseAnswer(text) {
      if (text == "Difference?") {
        this.$store.dispatch("pushMessage", {
          text: text,
          author: "client",
        });
        this.$store.dispatch("pushMessage", {
          text: "LED bulb consumes less power as compared to CFL. The life of an LED bulb is usually 50,000 hours or may be more, while CFL has only 8000 hours of life. LED bulbs are expensive as compared to CFL bulbs. Size of LED bulb is usually smaller than a CFL bulb.",
          buttons: ["LED", "CFL"],
          author: "server",
        });
      } else if (text == "LED" || text == "CFL") {
        this.$store.dispatch("pushMessage", {
          text: text,
          author: "client",
        });
        this.$store.dispatch("pushMessage", {
          text: "These parameters can help me to filter results:",
          buttons: [
            "type",
            "brand",
            "prices",
            "voltage",
            "wattage",
            "efficiency",
            "color temperature",
            "brightness",
          ],
          author: "server",
        });
        this.bulbType = text;
      } else if (
        text == "prices" ||
        text == "efficiency" ||
        text == "brightness"
      ) {
        this.$store.dispatch("pushMessage", {
          text: text,
          author: "client",
        });
        this.$parent.getReq(this.bulbType, text);
      } else {
        this.$store.dispatch("pushMessage", {
          text: text,
          author: "client",
        });
        this.$parent.getBulb(this.bulbType, text);
      }
      this.$nextTick(() => {
        this.$refs.chatbox.scrollTop = this.$refs.chatbox.scrollHeight;
      });
    },
  },
  computed: mapState(["messages"]),
};
</script>

<style scoped>
.list-container {
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: thin;
  border-left: 1px solid #eee7e7;
  border-right: 1px solid #eee7e7;
}
.messages-list {
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.message {
  width: 83%;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
}
.message p {
  margin: 0;
}
.buttons {
  padding-top: 15px;
}
.client {
  background: #9bcb54;
}
.client:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #9bcb54;
  border-right: 10px solid transparent;
  border-top: 10px solid #9bcb54;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}
.server {
  background: #00bfb6;
}
.server:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

.buttons button {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.4s;
}

.buttons button:hover {
  background-color: white;
  color: black;
}
</style>
