<template lang="pug">
  .chat-inputs
    .newmessage
      input(
        type='text' 
        :placeholder='placeholder' 
        v-model='message' 
        @keyup.enter='sendMessage')
      span.underline-animation
    button.send_button(@click='sendMessage')
      img.send(src='@/assets//arrow.png')
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ChatInput",
  data: () => ({
    placeholder: "...",
    message: "",
  }),
  methods: {
    sendMessage() {
      if (this.message !== "") {
        this.$store.dispatch("pushMessage", {
          text: this.message,
          author: "client",
        });
      }
      // this.$parent.getReq(this.message);
    },
  },
  computed: mapState(["messages"]),
};
</script>

<style scoped>
.send {
  height: 24px;
}
.chat-inputs {
  padding: 10px;
  background: #9bcb54;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.newmessage {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 43px);
}
.newmessage input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 100%;
  padding: 10px 10px 1px;
  background: top;
}
.underline-animation {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #64e4fe;
}
.newmessage input[type="text"]:focus + .underline-animation {
  left: 0;
}
.send_button {
  background: transparent;
  appearance: none;
  border: 0;
}
</style>
