<template>
  <div id="app">
    <Chatbox />
  </div>
</template>

<script>
import Chatbox from "./components/Chatbox.vue";

export default {
  name: "App",
  components: {
    Chatbox,
  },
};
</script>

<style>
/* html,
body,
input,
textarea,
select,
button {
  background-color: #181a1b;
  border-color: #736b5e;
  color: #e8e6e3;
} */

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: #f6ca32;
  /* background: #353d42; */
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #dab42c;
  /* background: #3c4347; */
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
